<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="ngIf">Open Ng-if</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="basic">Open component1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="controlFlow">Open control flow component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="getApi">Get Api component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="postApi">Post Api component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="inputOutput">Input Output component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="injectable">Injectable component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipes">Pipes component</a>
      </li>
    </ul>
  </div>
</nav>